__pycache__/
*.py[cod]
*$py.class

.env

*.json


venv/
.env/
.venv/


.DS_Store
Thumbs.db

*.log

.cache/
*.egg-info/

.pytest_cache/


.ipynb_checkpoints/

bot/detected_words.json

web/search_queue.txt

/results/
drug_bert_model/

instance/

.vscode/

node_modules/

.postcss-cache/

dist/
build/
